/**********************************/
/********** General CSS ***********/
/**********************************/
body {
   
    margin: auto;
    width: 70%;
    color: #353535;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background-image: url(texture5.jpg);
    background-repeat:repeat;
    position: relative;
    border: 2px solid black; 
    align-content: center; 
   
   @media (min-width: 992px) {
    .nav .container-fluid {
       
        padding-left: 52px;
        padding-right: 52px;
    }
}

    }

a {
    color: black;
}

a:hover,
a:active,
a:focus {
    color: #353535;
    outline: none;
    text-decoration: none;
}
center{
    margin-left: auto;
    margin-right: auto;
}
logo-container img {
    
   position: relative;
    width: auto;
    height: auto;
   
}
header img {
    margin: auto;
    overflow: hidden;
    position: relative;
    width: auto;
    height: auto;
    
    
}


/**********************************/
/********** Gallery ***********/
/**********************************/
photo{
  border: 5px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  width: 150px;
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}


/**********************************/
/******** Back to Top CSS *********/
/**********************************/
.back-to-top {
    position: fixed;
    display: none;
    background: #000000;
    color: #ffffff;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 1;
    font-size: 16px;
    border-radius: 4px;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s;
    z-index: 11;
}

.back-to-top i {
    padding-top: 12px;
    color: #ffffff;
}



/**********************************/
/******* Normal Slider CSS ********/
/**********************************/
.normal-slider .slick-prev,
.normal-slider .slick-next {
    width: 30px;
    height: 50px;
    z-index: 1;
    opacity: 0;
    transition: .5s;
    background: rgba(255, 111, 97, .7);
    border-radius: 4px;
}

.normal-slider .slick-prev {
    left: 25px;
}

.normal-slider .slick-next {
    right: 25px;
}

.normal-slider.slick-slider:hover .slick-prev {
    left: 5px;
    opacity: 1;
}

.normal-slider.slick-slider:hover .slick-next {
    right: 15px;
    opacity: 1;
}

.normal-slider .slick-prev:hover,
.normal-slider .slick-prev:focus,
.normal-slider .slick-next:hover,
.normal-slider .slick-next:focus {
    background: rgba(0, 0, 0, .7);
}

.normal-slider .slick-prev:hover::before,
.normal-slider .slick-prev:focus::before,
.normal-slider .slick-next:hover::before,
.normal-slider .slick-next:focus::before {
    color: #FF6F61;
}

.normal-slider .slick-prev::before,
.normal-slider .slick-next::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 30px;
    color: #ffffff;
}

.normal-slider .slick-prev::before {
    content: "\f104";
}

.normal-slider .slick-next::before {
    content: "\f105";
}

.normal-slider .slick-dots {
    bottom: 15px;
}

.normal-slider .slick-dots li button:before {
    color: #ffffff;
    font-size: 15px;
}

.normal-slider .slick-dots li.slick-active button:before {
    color: #FF6F61;
}

.slick-dotted.slick-slider {
    margin-bottom: 0;
}



/**********************************/
/*********** Nav Bar CSS **********/
/**********************************/
.nav {
    position: relative;
}

@media (min-width: 992px) {
    .nav .container-fluid {
       
        padding-left: 52px;
        padding-right: 52px;
    }
}

.nav .navbar {
    height: 100%;
    padding: 0;
}

.nav .dropdown-menu {
    margin-top: 0;
    border: 0;
    border-radius: 0;
    background: #900C3F;
}

.nav .dropdown-menu a.active {
    color: #ffffff;
    background: #900C3F;
}

@media (min-width: 768px) {
    .nav,
    .nav .navbar {
        background: #900C3F !important;
    }
    
    .nav .navbar-brand {
        display: none;
    }
    
    .nav .navbar-dark a.nav-link {
        color: #ffffff;
        font-size: 16px;
        text-transform: uppercase;
    }
    
    .nav .navbar-dark a.nav-link:hover,
    .nav .navbar-dark a.nav-link.active {
        color: #ffffff;
        margin-right: 20px;
        margin-left: 20px;
        
    }
}

@media (max-width: 768px) {
    .nav {
        padding: 5px 0;
    }
    
    .nav,
    .nav .navbar {
        background: #70D4F7 !important;
    }
    
    .nav a.nav-link {
        padding: 5px 0;
    }
    
    .nav .dropdown-menu {
        box-shadow: none;
    }
}




/**********************************/
/********* Bottom Bar CSS *********/
/**********************************/
.bottom-bar {
    padding: 5px 0;
    background: #F6EFB7;
    margin-bottom: 10px;
    text-align: center;
    
}
.bottom-bar .logo {
    text-align: center;
    padding: 20px;
    
   
    color: white;
    font-size: 30px;
}

.bottom-bar .logo a img {
    max-height: 20px;
    float:left;
}


/**********************************/
/*********** Header CSS ***********/
/**********************************/
.header {
    position: relative;
}

.header .col-md-3,
.header .col-md-6 {
    margin-bottom: 30px;
}

.header .navbar {
    padding: 0;
    height: 100%;
    max-height: 400px;
    overflow: hidden;
    background-image: url(texture9.jpg);
    
}

.header .navbar-nav {
    width: 100%;
    padding: 15px 0;
}

.header .navbar li {
    padding: 0;
    border-bottom: 1px solid #000000;
    border-top: 1px solid #000000;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    
}

.header .navbar li:last-child {
    border-bottom: 1px solid #000000;
}

.header .navbar a {
    color: #353535;
}
.header .navbar a:hover {
    color: #900C3F;
}


.header .navbar i {
    color: #FF6F61;
    width: 20px;
    text-align: center;
    margin-right: 8px;
}

.header .navbar a:hover i {
    color: #353535;
}

.header-slider {
    position: relative;
    width: 100%;
}

.header-slider .header-slider-item {
    position: relative;
}

.header-slider .header-slider-caption {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 60%;
    height: 60%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 111, 97, .7);
    transition: all 0.1s;
    z-index: 1;
}

.header-slider .header-slider-caption p {
    text-align: center;
    color: #ffffff;
    font-size: 22px;
    font-family: 'Source Code Pro', rockwell;
    font-weight: 700;
}

.header-slider .header-slider-caption .btn {
    border-color: #ffffff;
}

.header-slider .header-slider-caption .btn i {
    margin-right: 5px;
}

.header .header-img {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 50%;
    max-height: 400px;
    overflow: hidden;
    background: transparent;
}
/**********************************/
/*********** Header CSS important ***********/
/**********************************/

.header .img-item {
    position: relative;
    width: 100%;
    height: 50%;
    overflow: hidden;
    background: #BEC9F0;
}
.header .img-item img {
    position: relative;
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}



.header .img-text p {
    margin: 0 0 50px 0;
    padding: 15px;
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    transition: all 0.1s;
}

.header .img-text:hover p {
    margin: 0;       
}




/**********************************/
/********** Contact CSS ***********/
/**********************************/
.contact {
    position: relative;
    padding-top: 30px;
}

.contact .contact-info h2 {
    margin-bottom: 15px;
}

.contact .contact-info h3 {
    margin-bottom: 15px;
    font-size: 18px;
}

.contact .contact-info h3 i {
    width: 20px;
    color: #FF6F61;
    margin-right: 5px;
}

.contact .contact-map iframe {
    width: 100%;
    height: 450px;
}

/**********************************/
/********** Footer CSS ************/
/**********************************/
.footer {
    position: relative;
    padding: 30px 0 0 0;
    background: #EEE5EE;
}

.footer .footer-widget {
    position: relative;
    width: 100%;
    margin-bottom: 30px;
}

.footer .footer-widget h2 {
    font-size: 25px;
    white-space: nowrap;
    margin-bottom: 20px; 
}

.footer .footer-widget ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer .footer-widget ul li {
    margin-bottom: 12px; 
}

.footer .footer-widget ul li:last-child {
    margin-bottom: 0; 
}

.footer .footer-widget ul li a {
    color: #353535;
    white-space: nowrap;
    display: block;
    line-height: 23px;
    transition: all .3s;
}

.footer .footer-widget ul li a::before {
    content: '\f105';
    font-family: 'Rockwell';
    font-weight: 900;
    padding-right: 5px;
}

.footer .footer-widget ul li a:hover {
    color: #FF6F61;
}

.footer .footer-widget ul li a:hover::before {
    content: '\f101';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}

.footer .contact-info p {
    margin-bottom: 10px;
    font-size: 16px;
}

.footer .contact-info p i {
    margin-right: 5px;
}



.footer .payment-method img,
.footer .payment-security img {
    height: 25px;
}


/**********************************/
/******** Footer Bottom CSS *******/
/**********************************/
.footer-bottom {
    position: relative;
    padding: 25px 0;
    background: #900C3F;
}

.footer-bottom .copyright {
    text-align: center;
}

.footer-bottom .template-by {
    text-align: center;
}

.footer-bottom .copyright p,
.footer-bottom .template-by p {
    color: #ffffff;
    font-weight: 400;
    margin: 0;
}

.footer-bottom .copyright p a,
.footer-bottom .template-by p a {
    font-weight: 600;
}

.footer-bottom .copyright p a:hover,
.footer-bottom .template-by p a:hover {
    color: #ffffff;
}

@media (max-width: 768.98px) {
    .footer-bottom .copyright,
    .footer-bottom .template-by {
        text-align: center; 
    } 
}
